.table td
    font-size 14px
    vertical-align middle
    
.modal-huge .modal-dialog
    max-width: 60%
    
pre
    background #f7f7f9
    border-radius 5px
    padding 5px
    
    code
        color #bd4147

.pointer
    cursor pointer
    
ul
    margin 0
