html, body
    position absolute
    width 100%

html
    min-height 100%
    
body
    top 0
    bottom 10px

.ad-header
        display block

.ad-content
    flex 1 1 auto
    overflow auto
    
.ad-container
    display flex
    flex-direction column
    height 100%

.card
    min-height 100%
    max-height 100%
    overflow auto
    
    .card-body
        overflow auto
        
.flex-auto
    flex 1 1 auto

.flex-parent-column
    display flex
    flex-direction column
    
.overflow-auto
    overflow auto
