<!doctype html>
<html>
    <head>
        <title>AiohttpDebbuger</title>
        <link rel="stylesheet" type="text/css" href="/_debugger/static/bundle/bootstrap.css?nocache={{nocache}}"/>
        <link rel="stylesheet" type="text/css" href="/_debugger/static/bundle/font-awesome/css/fontawesome.css?nocache={{nocache}}"/>
        
        <link rel="stylesheet" type="text/css" href="/_debugger/static/bundle/font-awesome/css/fa-regular.css?nocache={{nocache}}"/>
        <link rel="stylesheet" type="text/css" href="/_debugger/static/bundle/font-awesome/css/fa-brands.css?nocache={{nocache}}"/>
        <link rel="stylesheet" type="text/css" href="/_debugger/static/bundle/font-awesome/css/fa-solid.css?nocache={{nocache}}"/>

        <script type="text/javascript" src="/_debugger/static/bundle/application.js?nocache={{nocache}}" defer></script>
    </head>
    <body>
        <layout class="enterpoint"></layout>
    </body>
</html>
