<template>
    <div class="ad-container container-fluid">
        <div class="row ad-header">
            <div class="col">
                <top-menu></top-menu>
            </div>
        </div>
        <router-view></router-view>
    </div>
</template>


<script>
export default {}
</script>
